# Core
pytz==2019.3
Django==3.0.2
django-configurations==2.2
gunicorn==20.0.4
newrelic==5.4.1.134

# For the persistence stores
psycopg2==2.8.4
dj-database-url==0.5.0

# Model Tools
django-model-utils==4.0.0
django_unique_upload==0.2.1

# Rest apis
djangorestframework==3.11.0
Markdown==3.1.1
django-filter==2.2.0

# Developer Tools
ipdb==0.12.3
ipython==6.2.1
mkdocs==0.17.2
flake8==3.5.0

# Testing
mock==2.0.0
factory-boy==2.9.2
django-nose==1.4.5
nose-progressive==1.5.1
coverage==4.4.2

# Static and Media Storage
django-storages==1.6.5
boto3==1.5.13
